.home{
  background-color: rgb(148, 148, 207);
}
/* 
.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(79deg, #7439db, #C66FBC 48%, #F7944D);
} */

/* .auth-form-container, .login-form, .register-form, .basicinformation1-form {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 600px) {
  .auth-form-container {
    padding: 5rem;
    border: 1px solid white;
    border-radius: 10px;
    margin: 0.5rem;
  }
}

label {
  text-align: left;
  padding: 0.25rem 0;
}

input {
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
}

.button {
  border: none;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  color: #7439db;
}

.submitButton {
  border: none;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  color: #7439db;
} */

.button1 {
  display: block;
  text-align: center;
  width: 100%;
  height: 50px;
  padding: 10px;
  background-color: rebeccapurple;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 10px;
  text-decoration: none;
}

.button2{
  width: 100%;
  height: 10px;
  border: none;
  color: black;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  margin-top: 5px;
  padding-bottom: 5px;
}

.img12{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 1400px;
  height: 700px;
  border-radius: 8px;
  padding: 20px;
}

.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: aliceblue;
  text-align: center;
  /* text-align: center;
  background-color: black;
  color: aliceblue;
  padding: 5px;*/
}

.textcarousal{
  font-size: 25px;
  color: white;
  background-color: black;
  width:300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

.intro{
  display: block;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 0%;
  color: #7439db;
}

.box-container{
  margin-left: 20%; 
  margin-top: 5px; 
  width: 900px;
  height: 200px;
  padding: 10px;
  border-radius: 5px;
  display: flex;
}

.box1{
    padding-top: 10px;
    margin-left: 20%;
    margin-bottom: auto;
    width: 300px;
    height: 50px;
    border-radius: 15px;
    color: brown;
    background-color: mediumspringgreen;
    text-align: center;
    font-size: large;
    font-weight: bold;
}

.box2{
  padding-top: 10px;
  margin-left: 20%;
  margin-bottom: auto;
  width: 300px;
  height: 50px;
  border-radius: 15px;
  color: blueviolet;
  background-color: mediumspringgreen;
  text-align: center;
  font-size: large;
  font-weight: bold;
}

