.home{ 
  background-color: azure;
  height: 118vh;
  /* overflow-y: auto; */
}

.button1 {
  display: block;
  text-align: center;
  width: 100%;
  height: 50px;
  padding: 10px;
  background-color: rebeccapurple;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 10px;
  text-decoration: none;
}

.button2{
  width: 100%;
  height: 10px;
  border: none;
  color: black;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  margin-top: 5px;
  padding-bottom: 5px;
}

.img12{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 1400px;
  height: 700px;
  border-radius: 8px;
  padding: 20px;
}

.footer{
  margin-top: auto;
  position: fixed; 
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: aliceblue;
  text-align: center;
  height: 50px;
  padding-top: 5px;
  /* text-align: center;
  background-color: black;
  color: aliceblue;
  padding: 5px;*/
}

.textcarousal{
  font-size: 25px;
  color: white;
  background-color: black;
  width:300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

.intro{
  display: block;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 0%;
  color: #170c2b;
  font-size: bold;
  padding-top: 20px;
  padding-bottom: 20px;
}

.box-container{
  margin-left: 20%; 
  margin-top: 5px; 
  width: 900px;
  height: 200px;
  padding: 10px;
  border-radius: 5px;
  display: flex;
}

.box1{
    padding-top: 10px;
    margin-left: 20%;
    margin-bottom: auto;
    width: 300px;
    height: 50px;
    border-radius: 15px;
    color: brown;
    background-color: mediumspringgreen;
    text-align: center;
    font-size: large;
    font-weight: bold;
}

.box2{
  padding-top: 10px;
  margin-left: 20%;
  margin-bottom: auto;
  width: 300px;
  height: 50px;
  border-radius: 15px;
  color: blueviolet;
  background-color: mediumspringgreen;
  text-align: center;
  font-size: large;
  font-weight: bold;
}

